@using BookingClinic.Services
@using BookingClinic.Services.Data.User
@model RegisterUserDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Register Page";
    var errors = ViewData["Errors"];
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title mb-4 text-center">Create new account</h3>
                    <form asp-action="RegisterPost" novalidate>
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control @(ViewData.ModelState["Name"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                            <span asp-validation-for="Name" class="invalid-feedback"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Surname" class="form-label"></label>
                            <input asp-for="Surname" class="form-control @(ViewData.ModelState["Surname"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                            <span asp-validation-for="Surname" class="invalid-feedback"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                            <span asp-validation-for="Email" class="invalid-feedback"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-control @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                            <span asp-validation-for="Password" class="invalid-feedback"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control @(ViewData.ModelState["ConfirmPassword"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                            <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
                        </div>
                        @if (errors != null)
                        {
                            var err = (errors as IEnumerable<ServiceError>).First();
                            <div class="alert alert-danger" role="alert">
                                @err.ErrorMessage
                            </div>
                        }
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>